<footer class="footer">   
        <div class="footer-left">
            <img class="image"src="../../assets/images/logo.png" width="200" height="70" alt="..." >
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, dolorem molestias molestiae dicta officiis aperiam placeat autem nihil eos quos aspernatur tempora perspiciatis, 
                assumenda rem a doloremque voluptatem veritatis sint.
            </p>
            <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
        </div>

        <ul class="footer-right">
            <li>
                <h2>Product</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">Plugin Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Joomla Design</a></li>
                    <li><a href="#">HTML Template</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>Useful Links</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">Plugin Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Joomla Design</a></li>
                    <li><a href="#">HTML Template</a></li>
                </ul>
            </li>
            <li>
                <h2>Address</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">Plugin Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Joomla Design</a></li>
                    <li><a href="#">HTML Template</a></li>
                </ul>
            </li>
            <li>
                <h2>Address</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">Plugin Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Joomla Design</a></li>
                    <li><a href="#">HTML Template</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>All Rights Reserved by &copy;Community_Portal 2021</p>
        </div>
        <br><br><br>
    
</footer>