.header{
    background-color: #16a596; 
    color: #f6f5f1;
}
.header-frame{
    margin-left: 20px; 
    margin-right: 20px;
}
.navbar-dark{
    font-size: 18px;
}
.colour-me{
    color:#f6f5f1 !important;
    font-weight: bold;
    margin-left: 40px;
}
.dropdown-menu{
    background: transparent;
    border: none;
}
.dropdown-item{
    text-align: center;
    color: white;
    font-weight: bold;
}
.dropdown-item:hover{
    color: black;
}
.button{
    float: right;
    width: 100px;
}
.header-banner{
    font-size: 40px; 
    margin-top: 50px;
}
.small{
    font-size: 18px;
}
.form-inline{
    margin-top: 20px;
}
.form-control{
    width: 500px;
    height: 40px;
}
.welcome{
    margin-right: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.849) !important; 
    color: black !important;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}